<<<<<<< HEAD
body{
	margin: 0;
	padding: 0;
	color: #484848;
	font-size: 14px;
	font-family: Circular, "Helvetica Neuve", Helvetica, Arial, sans-serif;
}
.container{
    max-width: 1000px;
    margin:30px auto;
    background-color: white;
    width: 100%;
}

=======
/*
 * === Global style ===
 */

/* Body style */
body {
  color: #484848;
  font: 14px Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Container style */
.container {
  margin: 30px auto;
  max-width: 1000px;
}

/* Strong style */
strong {
  font-weight: bold;
}
>>>>>>> 82d9e4c7025e1a6099b1eba5125852b4c30f80b2
